dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.10
django-allauth==0.40.0
django-toolbelt==0.0.1
flake8==3.7.8
gunicorn==19.9.0
oauthlib==3.1.0
psycopg2-binary==2.8.4
pyflakes==2.1.1
pystache==0.5.4
python3-openid==3.1.0
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.2.0
static3==0.7.0
-e git+https://github.com/matiasb/tvdbpy.git#egg=tvdbpy-master
