Django
dj-database-url
dj-static
django-allauth
django-toolbelt
flake8
gunicorn
oauthlib
psycopg2
pyflakes
pystache
python-openid
requests
requests-oauthlib
static3
-e git+https://github.com/matiasb/tvdbpy.git#egg=tvdbpy-master
