{% load qsaui_tags %}

<div class="media" id="{{ episode.number }}">
    {% if episode.image %}
        <div class="pull-left">
            <img src="{{ episode.image }}" width="200" />
        </div>
    {% endif %}
    <div class="media-body">
        <h4 class="media-heading">
            <a href="{% url 'series-detail' episode.series.tvdb_id %}">
                {{ episode.series.name }}</a>
            {{ episode.short_name }}: {{ episode.name }}
           {% include 'qsaui/_imdb_url.html' with item=episode %}
        </h4>
        <p>{{ episode.first_aired|default:"Aired date not known yet" }}
           {% include 'qsaui/_torrent_url.html' %}
           {% rating_as_stars episode %}
        </p>
        <p><small>{{ episode.overview }}</small></p>
        <p><small>
            Directed by {{ episode.director|default:"Unknown" }},
            writen by {{ episode.writer|default:"Unknown" }}
            <br/>
            Last updated on {{ episode.last_updated|default:"Unknown" }}
        </small></p>
    </div>
</div>
