{% extends 'base.html' %}
{% load qsaui_tags %}

{% block content-title %}{{ series.name }}{% endblock %}

{% block inner-content %}

<div class="row">
    <div class="col-md-10">

        <dl class="dl-horizontal">
          <dt>Overview</dt>
          <dd>{{ series.overview }} {% include 'qsaui/_imdb_url.html' with item=series %}</dd>

          <dt>Cast</dt>
          <dd>{{ series.cast }}</dd>

          <dt>Tags</dt>
          <dd>{{ series.tags }}</dd>

          <dt>First aired date</dt>
          <dd>{{ series.first_aired|default:"Aired date not known yet" }}</dd>

          <dt>Runtime</dt>
          <dd>{{ series.runtime }} minutes</dd>

          <dt>Network</dt>
          <dd>{{ series.network }}</dd>

          <dt>Finished?</dt>
          <dd>{{ series.completed|yesno }}</dd>

          <dt>Last updated on</dt>
          <dd>{{ series.last_updated|default:"Unknown" }}</dd>

          <dt>Rating</dt>
          <dd>{% rating_as_stars series %}</dd>

          <dt>Episodes</dt>
          <dd>
            {% for season in seasons %}
                <a href="{% url 'series-episodes' series.tvdb_id season %}">Season {{ season }}</a>
                {% if not forloop.last %}<br/>{% endif %}
            {% endfor %}
          </dd>

        </dl>

        <dl class="dl-horizontal">
            <dt><span class="label label-default">Last episode</span></dt>
                {% with episode=series.last_episode %}
                    <dd><p>{% include 'qsaui/_episode_summary.html' %}</p></dd>
                {% endwith %}
            {% if not series.completed %}
            <dt><span class="label label-success">Next episode</span></dt>
                {% with episode=series.next_episode %}
                    <dd><p>{% include 'qsaui/_episode_summary.html' %}</p></dd>
                {% endwith %}
            {% endif %}
        </dl>

    </div>

    <div class="col-md-2 text-center">
        <p>
            {% if series.poster %}
                <img class="center-block media-object" src="{{ series.poster }}" width="120" />
            {% else %}
                <img data-src="holder.js/120x170/text:Not available" />
            {% endif %}
        </p>
    </div>
    {% if on_watchlist %}
    <p class="text-center"><span class="label label-info">Already tracking this series</span></p>
    {% endif %}
    <div class="col-md-2 text-center">
        <form action="{% url 'series-detail' series.tvdb_id %}" method="POST">
            {% csrf_token %}
            <div class="btn-group-vertical center-block">
                {% if not on_watchlist %}
                <button type="submit" name="add-to-watchlist" class="btn btn-xs btn-primary">Add to watchlist</button>
                {% else %}
                <button type="submit" name="remove-from-watchlist" class="btn btn-xs btn-warning">Remove from watchlist</button>
                {% endif %}
                {% if user.is_staff %}
                <button type="submit" name="update" class="btn btn-xs btn-default">Update from TvDB</button>
                {% endif %}
            </div>
        </form>
    </div>

</div>

{% endblock inner-content %}
