{% extends 'base.html' %}

{% block content-title %}{{ series.name }}{% endblock %}

{% block inner-content %}

<div class="row">
    <div class="col-md-10">

        <dl class="dl-horizontal">
          <dt>Overview</dt>
          <dd>{{ series.overview }}</dd>

          <dt>Cast</dt>
          <dd>{{ series.cast }}</dd>

          <dt>Tags</dt>
          <dd>{{ series.tags }}</dd>

          <dt>First aired date</dt>
          <dd>{{ series.first_aired }}</dd>

          <dt>Runtime</dt>
          <dd>{{ series.runtime }} minutes</dd>

          <dt>Finished?</dt>
          <dd>{{ series.completed|yesno }}</dd>

          <dt>Last updated on</dt>
          <dd>{{ series.last_updated|default:"Unknown" }}</dd>

          <dt>Rating</dt>
          <dd>{% include 'qsaui/_rating.html' with item=series %}</dd>

          <dt>Episodes</dt>
          <dd>
            {% for season in seasons %}
                <a href="{% url 'series-episodes' series.tvdb_id season %}">Season {{ season }}</a>
                {% if not forloop.last %}<br/>{% endif %}
            {% endfor %}
          </dd>

        </dl>

        <dl class="dl-horizontal">
            <dt><span class="label label-default">Last episode</span></dt>
                {% with episode=series.last_episode %}
                    <dd><p>{% include 'qsaui/_episode_summary.html' %}</p></dd>
                {% endwith %}
            {% if not series.completed %}
            <dt><span class="label label-success">Next episode</span></dt>
                {% with episode=series.next_episode %}
                    <dd><p>{% include 'qsaui/_episode_summary.html' %}</p></dd>
                {% endwith %}
            {% endif %}
        </dl>

    </div>

    <div class="col-md-2 text-center">
        <p><img class="center-block media-object" src="{{ series.poster }}" width="120" /></p>
        {% include 'qsaui/_add-to-watchlist.html' with tvdb_id=series.tvdb_id %}
        <p>{% include 'qsaui/_imdb_url.html' with item=series %}</p>
        {% if user.is_staff %}
        <p><form action="{% url 'series-detail' series.tvdb_id %}" method="POST">
            {% csrf_token %}
            <div class="btn-group">
                <button type="submit" name="update" class="btn btn-xs btn-default">Update from TvDB</button>
            </div>
        </form></p>
        {% endif %}
    </div>

</div>

{% endblock inner-content %}
