{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% load staticfiles %}

{% block head-extra %}
    <script type="text/javascript" src="{% static 'js/fullcalendar.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}" />

<script type="text/javascript">

    $(document).ready(function() {
        function showCalendar(selector, config) {
            var d = new Date();
            var starting = (7 + d.getUTCDay() - 1) % 7;  // starting yesterday
            var days = 3;  // number of days to show
            var hidden = [];
            for (i = days; i < 7; i++){
                hidden.push((starting + i) % 7);
            }
            var options = {
                header: '',
                columnFormat: {week: 'ddd d/M'},
                height: 150,
                firstDay: starting,
                hiddenDays: hidden,
                defaultView: 'basicWeek'
            };
            $.extend(options, config);
            $(selector).fullCalendar(options);
        }

        showCalendar(
            '#calendar', {
                events: [
                    {% for e in last_week %}
                {
                    title: '{{ e }}',
                    start: '{{ e.first_aired|date:"Y-m-d" }}'
                },
                    {% endfor %}
                    {% for e in yesterday %}
                {
                    title: '{{ e }}',
                    start: '{{ e.first_aired|date:"Y-m-d" }}'
                },
                    {% endfor %}
                    {% for e in next_week %}
                {
                    title: '{{ e }}',
                    start: '{{ e.first_aired|date:"Y-m-d" }}'
                },
                    {% endfor %}
                ]
            });
    });
</script>

{% endblock %}


{% block content %}


<div id='calendar'></div>

<h3>{% trans 'Episodes from last night' %}</h3>

{% for episode in yesterday %}
    {% include "qsaui/_episode_entry.html" %}
{% empty %}
    <p>{% trans 'No episodes from last night.' %}</p>
{% endfor %}

<h3>{% trans 'Coming soon' %}</h3>
{% regroup coming_soon by first_aired as episodes_by_day %}
<ul class="list-group">
{% for episode_by_day in episodes_by_day %}
    <li class="list-group-item">
        <p class="badge">{{ episode_by_day.grouper|naturalday }}</p>
        {% for episode in episode_by_day.list %}
        {% include "qsaui/_episode_entry.html" %}
        {% endfor %}
    </li>
{% empty %}
    <p>{% trans 'No episodes coming soon.' %}</p>
{% endfor %}
</ul>

<h3>{% trans 'Last week' %}</h3>
{% regroup last_week by first_aired as episodes_by_day %}
<ul class="list-group">
{% for episode_by_day in episodes_by_day %}
    <li class="list-group-item">
        <p class="badge">{{ episode_by_day.grouper }}</p>
        {% for episode in episode_by_day.list %}
        <p><strong>{{ episode.series.name }}</strong><br/>
        {% include "qsaui/_episode_summary.html" %}
        </p>
        {% endfor %}
    </li>
{% empty %}
    <p>{% trans 'No episodes from last week.' %}</p>
{% endfor %}
</ul>

{% endblock %}
