{% extends 'base.html' %}
{% load i18n %}

{% block content-title %}Your watchlist{% endblock %}

{% block inner-content %}

{% regroup watchlist by completed as data %}

{% for item in data %}
<h3>{% if item.grouper %}Finished{% else %}On going{% endif %}</h3>
{% for series in item.list %}
<div class="media">
    <a class="pull-left" href="{% url 'series-detail' series.tvdb_id %}">
        {% if series.poster %}
            <img src="{{ series.poster }}" width="120" />
        {% else %}
            <img data-src="holder.js/120x170/text:Not available" />
        {% endif %}
    </a>
    <div class="media-body">
        <h4 class="media-heading">{{ series.name }}</h4>
        <p>
            <small>{{ series.first_aired.year }} | {{ series.network|default:"-" }} |
                <a href="{% url 'series-detail' series.tvdb_id %}">Details</a></small>
                <br/>
                {% include 'qsaui/_imdb_url.html' with item=series %}
        </p>
        {% if series.seasons %}
        <div>
            <p><span class="label label-default">Last episode</span>
            {% with episode=series.last_episode %}
               {% include 'qsaui/_episode_summary.html' %}
            {% endwith %}
            </p>

            {% if not series.completed %}
            <p>
            <span class="label label-success">Next episode</span>
            {% with episode=series.next_episode %}
               {% include 'qsaui/_episode_summary.html' %}
            {% endwith %}
            </p>
            {% endif %}
        </div>
        {% endif %}
        <form action="{% url 'series-detail' series.tvdb_id %}" method="POST">
            {% csrf_token %}
            <div class="btn-group">
                <button type="submit" name="remove-from-watchlist" class="btn btn-xs btn-default">Remove from watchlist</button>
            </div>
        </form>
    </div>
</div>
{% endfor %}
{% empty %}
<p>You have not yet chosen any series to track!</p>
{% endfor %}

{% endblock inner-content %}
