<div class="media">
    {% if series.poster %}
        <a class="pull-left" href="{% url 'series-detail' tvdb_id %}">
            <img src="{{ series.poster }}" width="80" />
        </a>
    {% endif %}
    <div class="media-body">
        <h4 class="media-heading">{{ series.name }}</h4>
        <p>
            <small>{{ series.first_aired.year }} | {{ series.network|default:"-" }} |
                {{ series.completed|yesno:"Finished,On going, Unknown" }} |
                <a href="{% url 'series-detail' tvdb_id %}"> Details</a></small>
        </p>
        {% if series.seasons %}
        <dl>
            {% with episode=series.last_episode label_class='label-default' label='Last' %}
            {% include 'qsaui/_episode_entry.html' %}
            {% endwith %}

            {% with episode=series.next_episode label_class='label-success' label='Next' %}
            {% include 'qsaui/_episode_entry.html' %}
            {% endwith %}
        </dl>
        {% endif %}
    </div>
</div>
