{% extends 'base.html' %}

{% block content-title %}{{ series.name }}{% endblock %}

{% block inner-content %}

<div class="row">
    <div class="col-md-10">

        <dl class="dl-horizontal">
          <dt>Overview</dt>
          <dd>{{ series.overview }}</dd>

          <dt>Cast</dt>
          <dd>{{ series.cast }}</dd>

          <dt>Tags</dt>
          <dd>{{ series.tags }}</dd>

          <dt>First aired date</dt>
          <dd>{{ series.first_aired }}</dd>

          <dt>Runtime</dt>
          <dd>{{ series.runtime }} minutes</dd>

          <dt>Finished?</dt>
          <dd>{{ series.completed|yesno }}</dd>

          <dt>Seasons</dt>
          <dd>{{ seasons }}</dd>

        </dl>

        <dl class="dl-horizontal">
            <dt><span class="label label-default">Last episode</span></dt>
                {% with episode=series.last_episode %}
                    <dd><p>{% include 'qsaui/_episode_entry.html' %}</p></dd>
                {% endwith %}
            <dt><span class="label label-success">Next episode</span></dt>
                {% with episode=series.next_episode %}
                    <dd><p>{% include 'qsaui/_episode_entry.html' %}</p></dd>
                {% endwith %}
        </dl>

    </div>

    <div class="col-md-2 text-center">
        <p><img class="center-block media-object" src="{{ series.poster }}" width="120" /></p>
        {% with series.tvdb_id as tvdb_id %}
            {% include 'qsaui/_add-to-watchlist.html' %}
            {% include 'qsaui/_reindex.html' %}
        {% endwith %}
    </div>

</div>

{% endblock inner-content %}
